* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: .5rem 1rem;
    margin-bottom: 3rem;
}

img {

    vertical-align: bottom;

}

h1 {
    font-size: 2.5rem;
    display: inline;
    font-weight: 700;
}

main {
    max-width: 700px;
    margin: auto;
    background-color: #f6f8f9;
}

.panel {
    background-color: white;
    margin: auto;
    padding: 1rem 3rem;
    margin: 3px;
}

div {
    border-radius: 6px 6px 0 0;
}

button {
    border: none;
    padding: .4rem .5rem;
    border-radius: 6px;
    color: white;
}

.transparent {
    background-color: white;
    border: 1.5px solid #d3d7db;
    padding: .3rem .4rem;
    color: #d4d8dc;
    font-weight: 500;
}

section {
    border-radius: 0 0 6px 6px;
}


li {
    padding: .5rem;
    list-style: none;
}

h2 {
    font-size: 20px;
    padding-top: 1rem;
}

.label {
    color: white;
    font-size: 10px;
    padding: .35rem;
    border-radius: 16px;
}

#azzurro {
    background-color: #44aaea;
}

#viola {
    background-color: #9c72e3;
}

#verdino {
    background-color: #62bfa7;
}

#arancione {
    background-color: #f29d32;
}

#rosa {
    background-color: #d863a1;
}

#verde-pisello {
    background-color: #b0c926;
}

.circle {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    padding: .20rem;
    margin-right: .5rem;
    line-height: 10px;
    font-size: .8rem;
}

.check {
    color: #58baa2;
    border-color: #58baa2;
}

.cross {
    color: #ea5d56;
    border-color: #ea5d56;
}

span {
    padding: .3rem;
}